/* Global styles */
:root {
    --background: #2e2b42;
    /*--background: #373542;*/
    --background-light: #fffcf4;
    --button: #AEE8DB;
    /*--button-light: #569888;*/
    /*--button-light: #61a191;*/
    /*--button-light: #adc9c6;*/
    --button-light: #adc9c8;
    /*--text: #ebf9fd;*/
    --text: #fffef3;
    --text-header: #fffef3;
    --text-light: #5b4c46;
    --text-header-light: #413a33;
    --text-link: #78c2ad;
    /*--text-link: #569888;*/
    --underline: #fe7a71;
    /*--underline-light: #61a191;*/
    --underline-light: #569888;
    /*--underline-light: #5b4b46;*/
    --header: 'Open Sans', sans-serif;
    --body: 'Open Sans', sans-serif;

}

::selection {
  color: black;
  background: #abd6de;
}


html {
    background-color: var(--background);
    color: var(--text);
}

body {
    max-width: 580px;
    margin: 0 auto;
    text-align: left;
}

h1, h2 {
    color: var(--text-header);
    font-family: var(--header);
    font-weight: normal;
}

h1 {
    font-size: 2.6rem;
    margin: 0;
    margin-bottom: 5px;
}

h2 {
    text-decoration: underline var(--underline);
    text-decoration-thickness: 3.5px;
    text-underline-offset: 6px;
    font-size: 2.1rem;
    margin-bottom: 0;
}

p {
    overflow-wrap: break-word;
    font-family: var(--body);
    font-size: 1.1rem;
    /*hyphens: auto;*/
    line-height: 1.5;
    text-indent: 1.5rem;
}

.p1 {
    padding-left: 1.0rem;
    text-indent: 0rem;
    font-size: 1.0rem;
    overflow-wrap: break-word;
    font-family: var(--body);
    /*hyphens: auto;*/
    line-height: 1.5;
}


small, li {
    font-family: var(--body);
}

ol {
    padding-left: 0.0rem;
    list-style-type: none;
}

details {
    padding-left: 1rem;
    overflow-wrap: break-word;
    font-family: var(--body);
    font-size: 1.0rem;
    /*hyphens: auto;*/
    /*line-height: 1.0;*/
    line-height: 0;
    /*text-indent: 1rem;*/
    margin-bottom: 1.75em;
}

summary {
    color: var(--text-link);

}

details > p {
    font-size: 1.0rem;
    padding-left: 1rem;
    padding-bottom: 0;

}

/*details[open] {*/
/*  padding: 0.5em;*/
/*}*/

details[open] {
    /*border-top:1px solid #aaa;*/
  /*border-bottom: 1px solid #aaa;*/
  margin-bottom: 1.2em;
}
/*details[close] {*/
/*    !*border-top:1px solid #aaa;*!*/
/*  border-bottom: 1px solid #aaa;*/
/*  margin-bottom: 0.5em;*/
/*}*/

/*details > summary {*/
/*  list-style: none;*/
/*}*/
/*details > summary::-webkit-details-marker {*/
/*  display: none;*/
/*}*/

/* Navigation Bar */
.navbar {
    display: grid;
    /*grid-template-columns: 1fr ;*/
    grid-template-columns: auto auto;
    margin-top: 0.8rem;
}

.navbar__title {
    font-family: var(--header);
    font-size: 1.3rem;
    /*margin-top: 0.8rem;*/
    /*text-align: left;*/
}

.navbar__menu {
    font-family: var(--body);
    font-size: 1.2rem;
    text-align: right;
}

.navbar__title > a, .navbar__menu > a {
    color: var(--text);
    text-decoration: none;
}

.navbar__menu > a {
    margin: 0 8px;
}

.navbar__title > a:hover, .navbar__menu > a:hover, .navbar__menu > a:focus {
    /*text-decoration: underline var(--underline);*/
    text-decoration: underline var(--button);
    /*text-decoration-thickness: 2px;*/
    text-underline-offset: 6px;
}

/* Gifs */
.gif {
    margin: 20px 0 0 0;
    text-align: center;
}

/* mainphoto */
.mainphoto {
    margin:  20px 0 20px 0;
    text-align: center;
}

.headshot {
   border: 3.5px solid #fffef3;
}

.figure {
   border: 3.5px solid #fffef3;
   background-color: white;
}

/* Badge */
.badge {
    background-color: var(--button);
    color: var(--background);
    border-radius: 6px;
    font-family: var(--body);
    font-weight: 600;
    font-size: .85rem;
    padding: 0.3em 0.6em 0.2em;
}

.badge__list {
    text-indent: 1rem;
    list-style: none;
    padding: 0;
}

.badge__list > li {
    margin-top: 10px;
}

.badge--item {
    border-radius: 4px;
    font-size: 0.7rem;
    margin-right: 5px;
    padding: 0.5em 0.3em 0.3em 0.3em;

}

.badge__link {
    color: var(--text-link);
    text-decoration: none;
}

.badge__link:hover {
    text-decoration: underline;
}


/* Cards */
.card {
    list-style: none;
    color: black;
    display: flex;
    background-size: 400%;
    padding: 16px;
    border-radius: 10px;
    background-color: #252231;
    border: 1.5px solid #fe7a71;
}

.card__link {
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    border-radius: 8px;
    color: var(--text);
}

.card__img {
    border-radius: 16px;
}

.card__title {
    color: var(--text-header);
    margin: 0;
    font-family: var(--body);
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
}

.card__txt {
    color: var(--text);
    font-size: 1rem;
    line-height: 1.5;
    text-indent: 0;
    text-align: center;
    margin: 0.5rem 0 0;
}

.card__link:hover {
    transform: scale(1.05);
}

.link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
}

/* Button */
.btn {
    text-align: center;
    background: rgba(0,0,0,0);
    border: 2px solid var(--button);
    border-radius: 8px;
    color: var(--text);
    font: 600 16px var(--body);
    padding: 8px 16px;
    transition: background-color 0.4s, color 0.4s;
}

.btn:hover {
    background-color: var(--button);
    color: var(--text-light);
    cursor: pointer;
}

/* Skills */
.skills {
    margin-top: 8px;
}

.skills__img {
    margin: 8px 4px;
}

/* Items */
.center {
    text-align: center;
}

.pro-img {
    border-radius: 16px;
    margin-top: 10px;
}

/* Footer */
footer {
    margin: 4rem 0;
}

.footer__link {
    color: var(--text-link);
    /*color: var(--button-light);*/
    text-decoration: none;
}

.footer {
    cursor: default;
    list-style: none;
    padding: 0;
}

.icon__btn {
    display: inline-block;
    padding: 0 0.5rem;
}

.icon__link {
    display: flex;
    padding: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #fdebf3;
}

.icon__link:hover {
    border-color: var(--text-link);
}


.git-icon {
    content: url("/github-mark-white.svg");
}

.mail-icon {
    content: url("/mail-white.svg");
}

.linked-in {
    content: url("/li-in-white.png");
}

/* 404 */
.lost {
    margin-top: 30%;
    text-align: center;
}

.lost__header {
    margin: 0 auto;
    text-align: center;
    border: 0;
    font-size: 7.5rem;
    letter-spacing: 10px;
}

.lost__body {
    color: #5C5B77;
}

.lost__link {
    color: var(--text-link);
    text-decoration: none;
}

/* Theme Icon */
html.light {
    background-color: var(--background-light);
    color: var(--text-light);
}

.light h2 {
    text-decoration: underline var(--underline-light);
    color: var(--text-header-light);
}

.light h1 {
    color: var(--text-header-light);
}

.light .headshot {
   border: 3px solid #e8e7e8;
}

.light .figure {
   border: 0px;
}

.light .navbar__title > a {
    color: var(--text-header-light);
}

.light .navbar__menu > a {
    color: var(--text-header-light);
}

.light .navbar__title > a:hover {
    /*text-decoration: underline var(--underline-light);*/
    text-decoration: underline var(--button-light);
}

.light .navbar__menu > a:hover {
    /*text-decoration: underline var(--underline-light);*/
    text-decoration: underline var(--button-light);
}

.light .navbar__menu > a:focus {
    /*text-decoration: underline var(--underline-light);*/
    text-decoration: underline var(--button-light);
}

.light .card {
    background-color: #eaeaea;
    border: 2px solid #eaeaea;
}

.light .card__title {
    /*color: var(--text-light);*/
    color: var(--text-header-light);
}

.light .card__txt {
    color: var(--text-light);
    /*color: var(--background);*/
}

.light .badge {
    background-color: var(--button-light);
    /*background-color: #61a191;*/
    color: var(--background-light);
    /*color: var(--text-header-light);*/
}

.light .btn {
    color: var(--text-light);
    border: 2px solid var(--button-light);
}

.light .btn:hover {
    color: var(--text);
    background-color: var(--button-light);
}

.light .icon__link {
    border: 2px solid var(--text-light);
}

.light .icon__link:hover {
    border-color: var(--text-link);
}

.light .git-icon {
    content: url("/github-mark.svg");
}

.light .mail-icon {
    content: url("/mail.svg");
}

.light .linked-in {
    content: url("/li-in.png");
}

.light .badge__link {
    color: var(--text-link);
}

/* Media Query */
@media only screen and (max-width: 600px) {
    body {
        width: 350px;
    }

    .navbar {
        display: initial;
    }

    .navbar__title {
        text-align: center;
    }

    .navbar__menu {
        text-align: center;
    }

    .navbar__menu > a {
        margin: 0 11px;
    }

    .skills__img {
        height: 30px;
        width: 30px;
        margin: 8px 1px;
    }

    .badge__list {
        font-size: 0.9rem;
        text-indent: 0;
    }

    .pro-img {
        height: auto;
        width: 350px;
    }
}

