---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Kim Wong: About";
---
<Layout pageTitle={pageTitle}>
    <div class="mainphoto">
        <!--<img height="325" style="border: 20px solid var(&#45;&#45;main-photo-border-color)" class="headshot" alt="headshot" src="/headshot6.JPG"/>-->
        <!--<img height="325" class="headshot" alt="headshot" src="/headshot6.JPG"/>-->
        <img style="max-width: 50%;" class="headshot" alt="headshot" src="/headshot6_light.jpg"/>
    </div>
    <h1><b>Kim W. Wong</b></h1>
    <a class="badge" href="https://psychology.williams.edu/" target="_blank" style="text-decoration:none;">Psych Dept. @ Williams</a>
    <h2>About</h2>
    <p>
        It is not surprising that the human mind is capable of <i>reasoning</i> about complex properties like physics (e.g. "Will that stack of plates fall?") or navigation ability (e.g. "Can I get out of this maze?") &mdash; but perhaps such properties are also <b>spontaneously extracted</b> as a part of how we <b><i>see</i></b> the world in the first place?
    </p>
    <p>
        In short, I’m a cognitive scientist exploring visual cognition, focusing on topics such as intuitive physics, visual routines, navigational affordances, and unfinishedness. I'm now running the <a class="footer__link" href="https://psychology.williams.edu/wave-lab/" target="_blank">WAVE lab</a> as an Assistant Professor in the <a class="footer__link" href="https://psychology.williams.edu/" target="_blank">Psychology Department at Williams College</a>. Click <a class="footer__link" href="https://psychology.williams.edu/wave-lab/" target="_blank">here</a> to check out the new lab website!

    </p>
    <p>
        I completed my PhD in <a class="footer__link" href="https://psychology.yale.edu/graduate/overview-program" target="_blank">Psychology at Yale University</a>.  I worked primarily in Brian Scholl's <a class="footer__link" href="https://perception.yale.edu/" target="_blank" >Perception and Cognition lab</a>, and also collaborated with Ilker Yildirim's <a class="footer__link" href="http://cncl.yale.edu/" target="_blank" >Cognitive & Neural Computation lab</a>. Previously, I worked with Michael (Mike) McCloskey in the <a class="footer__link" href="https://sites.krieger.jhu.edu/mccloskey-lab/people/" target="_blank" >Cognitive Neuroscience Lab</a> at Johns Hopkins.
    </p>
    <p>
        <!--Ut at interdum dui. Donec ut ante ex. Maecenas id ex eget nibh consequat accumsan.-->
        <!--Proin semper semper dui nec feugiat. Donec cursus neque id aliquet finibus. Morbi-->
        <!--facilisis turpis nibh, nec dictum orci dictum nec. In hac habitasse platea dictumst.-->
        <!--Maecenas mollis turpis vitae turpis bibendum, vitae tristique arcu eleifend.-->
    </p>
    <div class="skills center" style="max-width: 100%; height: auto; width: auto;">
        <a href="/publications/"><button class="btn">Publications</button></a>
        <a href="/works/"><button class="btn">Research</button></a>
        <a href="/Kimberly_Wong_CV.pdf" target="_blank">
            <button class="btn">Curriculum Vitae</button>
        </a>
    </div>
    <!--<h2>Skills</h2>-->
    <!--<div class="skills center">-->
    <!--    <img class="skills__img" width="46" height="46" alt="C#" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg"/>-->
    <!--    <img class="skills__img" width="46" height="46" alt="DotNetCore" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dotnetcore/dotnetcore-original.svg"/>-->
    <!--    <img class="skills__img" width="46" height="46" alt="TypeScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"/>-->
    <!--    <img class="skills__img" width="46" height="46" alt="Angular" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"/>-->
    <!--    <img class="skills__img" width="46" height="46" alt="Bootstrap" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original.svg"/>-->
    <!--    <img class="skills__img" width="46" height="46" alt="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"/>-->
    <!--    <img class="skills__img" width="46" height="46" alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"/>-->
    <!--    <img class="skills__img" width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"/>-->
    <!--    <img class="skills__img" width="46" height="46" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>-->
    <!--</div>-->
    <h2>Contact</h2>
    <p>
        kimberly.wong@yale.edu
    </p>
</Layout>

