---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__title">
        <a href="/"><b>Kim Wong</b></a>
    </div>
    <div class="navbar__menu">
        <a href="/works/">Research</a>
        <a href="/publicationList/">Publications</a>
        <!--<a href="/cv/">CV</a>-->
        <a href="/Kimberly_Wong_CV6.pdf" target="_blank">CV</a>
        <!--<a href="https://github.com/ttomczak3/Milky-Way" target="_blank">GitHub</a>-->
        <ThemeIcon />
    </div>
</div>

